        body {
            overflow-x: hidden;
        }
        
        .circle {
            border-radius: 50%;
            box-shadow: black;
        }
        
        .img {
            border-radius: 10px;
            box-shadow: 1px 1px 1px 1px silver;
            transition: ease-in .3s;
        }
        
        .img:hover {
            transform: scale(1.1);
        }
